version: "3.8"
services:
  backend:
    build: ./backend
    container_name: esp32_backend
    restart: always
    ports:
      - "${BACKEND_PORT}:3000"
    env_file:
      - ./backend/.env
    # environment:
    #   DB_HOST: ${DB_HOST} 
    #   DB_PORT: ${DB_PORT}
    #   DB_USER: ${DB_USER}
    #   DB_PASSWORD: ${DB_PASSWORD}
    #   DB_NAME: ${DB_NAME}
    volumes:
      - ./backend:/app
      - /app/node_modules 
      - C:/Users/iotal/Documents/SystemGate/backend/uploads:/app/uploads
      - C:/Users/iotal/Documents/SystemGate/backend/uploads/trucks:/app/uploads

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: esp32_frontend
    restart: always
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
  sql2022:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql2022
    hostname: sql2022
    restart: always
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Marcello21!
    ports:
      - "1433:1433"
    volumes:
      - C:/mssql/data:/var/opt/mssql
    security_opt:
      - seccomp:unconfined
    cap_add:
      - SYS_PTRACE
    mem_limit: 4g
volumes:
  pgdata:
  uploads_data: